bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.tlog
*.pidb
*.svclog

.publish/

TestResults/
*.coverage
*.coveragexml

appsettings.Development.json
appsettings.Local.json

.idea/
*.DotSettings.user

*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

*.dbmdl
*.pdb
*.mdb
*.opendb

*.stackdump

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store

*~

ehthumbs.db

*.orig
